html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header-section {
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
}
.header-section a:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.hero-section {
  padding: 48px 0px;
  text-align: center;
}
.hero-section h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
.hero-section p {
  font-size: 18px;
  font-weight: 500;
}
.hero-section p span {
  color: white;
  background-color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
}
.hero-section-img {
  position: relative;
}
.hero-section-img .hero-text {
  position: absolute;
  top: 50%;
  left: 3%;
  color: white;
}
.hero-section-img .hero-text p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero-section-img .hero-text h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero-section-img .hero-text button {
  background-color: #ccc;
  padding: 12px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
}
.hero-section-img .hero-text button:hover {
  background-color: #fff;
  cursor: pointer;
}
.main-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.main-section .left-side {
  /* height: 500px; */
  background-color: aqua;
  width: 66%;
}
.main-section .right-side {
  height: 500px;
  background-color: aquamarine;
  width: 33%;
}
